<!DOCTYPE html>
<html>
  <head>
    <title>Hisab | <%= yield(:title)%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138421503-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138421503-1');
</script>
  </head>

  <body>
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>

</html>
